<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-apartment-heading" jhiTranslate="realEstateManagementServiceApp.apartment.home.createOrEditLabel">Create or edit a Apartment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.apartment.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.apartment.moveInReady" for="field_moveInReady">Move In Ready</label>
                    <input type="checkbox" class="form-control" name="moveInReady" id="field_moveInReady"
                           formControlName="moveInReady"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.apartment.building" for="field_building">Building</label>
                    <select class="form-control" id="field_building" name="building" formControlName="buildingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="buildingOption.id" *ngFor="let buildingOption of buildings; trackBy: trackById">{{ buildingOption.streetAddress }} {{ buildingOption.propertyNumber }} {{ buildingOption.city }}, {{ buildingOption.stateCode }} {{ buildingOption.zipCode }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
