<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.apartment.home.title">Apartments</span>

        <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-apartment"
                [routerLink]="['/apartment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.apartment.home.createLabel">
            Create a new Apartment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="apartments?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.apartment.home.notFound">No apartments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="apartments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitNumber"><span jhiTranslate="realEstateManagementServiceApp.apartment.unitNumber">Unit Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="moveInReady"><span jhiTranslate="realEstateManagementServiceApp.apartment.moveInReady">Move In Ready</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="buildingId"><span jhiTranslate="realEstateManagementServiceApp.apartment.building">Building</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apartment of apartments ;trackBy: trackId">
                    <td><a [routerLink]="['/apartment', apartment.id, 'view']">{{ apartment.id }}</a></td>
                    <td>{{ apartment.unitNumber }}</td>
                    <td>{{ apartment.moveInReady }}</td>
                    <td>
                        <div *ngIf="apartment.buildingId">
                            <a [routerLink]="['/building', apartment.buildingId , 'view']" >{{ apartment.buildingId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/apartment', apartment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit"
                                    [routerLink]="['/apartment', apartment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit" (click)="delete(apartment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="apartments?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
