<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.person.home.title">People</span>

        <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-person"
                [routerLink]="['/person/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.person.home.createLabel">
            Create a new Person
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.person.home.notFound">No people found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="realEstateManagementServiceApp.person.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="realEstateManagementServiceApp.person.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="realEstateManagementServiceApp.person.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emailAddress"><span jhiTranslate="realEstateManagementServiceApp.person.emailAddress">Email Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="primaryContact"><span jhiTranslate="realEstateManagementServiceApp.person.primaryContact">Primary Contact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isMinor"><span jhiTranslate="realEstateManagementServiceApp.person.isMinor">Is Minor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ssn"><span jhiTranslate="realEstateManagementServiceApp.person.ssn">Ssn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="backgroundCheckDate"><span jhiTranslate="realEstateManagementServiceApp.person.backgroundCheckDate">Background Check Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="backgroundCheckConfirmationNumber"><span jhiTranslate="realEstateManagementServiceApp.person.backgroundCheckConfirmationNumber">Background Check Confirmation Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employmentVerificationDate"><span jhiTranslate="realEstateManagementServiceApp.person.employmentVerificationDate">Employment Verification Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employmentVerificationConfirmationNumber"><span jhiTranslate="realEstateManagementServiceApp.person.employmentVerificationConfirmationNumber">Employment Verification Confirmation Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people ;trackBy: trackId">
                    <td><a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a></td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.phoneNumber }}</td>
                    <td>{{ person.emailAddress }}</td>
                    <td>{{ person.primaryContact }}</td>
                    <td>{{ person.isMinor }}</td>
                    <td>{{ person.ssn }}</td>
                    <td>{{ person.backgroundCheckDate | date:'mediumDate' }}</td>
                    <td>{{ person.backgroundCheckConfirmationNumber }}</td>
                    <td>{{ person.employmentVerificationDate | date:'mediumDate' }}</td>
                    <td>{{ person.employmentVerificationConfirmationNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit"
                                    [routerLink]="['/person', person.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit" (click)="delete(person)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="people?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
