<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.building.home.title">Buildings</span>

        <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-building"
                [routerLink]="['/building/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.building.home.createLabel">
            Create a new Building
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="buildings?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.building.home.notFound">No buildings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="buildings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="realEstateManagementServiceApp.building.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseDate"><span jhiTranslate="realEstateManagementServiceApp.building.purchaseDate">Purchase Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="propertyNumber"><span jhiTranslate="realEstateManagementServiceApp.building.propertyNumber">Property Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="streetAddress"><span jhiTranslate="realEstateManagementServiceApp.building.streetAddress">Street Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="realEstateManagementServiceApp.building.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateCode"><span jhiTranslate="realEstateManagementServiceApp.building.stateCode">State Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zipCode"><span jhiTranslate="realEstateManagementServiceApp.building.zipCode">Zip Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let building of buildings ;trackBy: trackId">
                    <td><a [routerLink]="['/building', building.id, 'view']">{{ building.id }}</a></td>
                    <td>{{ building.name }}</td>
                    <td>{{ building.purchaseDate | date:'mediumDate' }}</td>
                    <td>{{ building.propertyNumber }}</td>
                    <td>{{ building.streetAddress }}</td>
                    <td>{{ building.city }}</td>
                    <td>{{ building.stateCode }}</td>
                    <td>{{ building.zipCode }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/building', building.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit"
                                    [routerLink]="['/building', building.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit" (click)="delete(building)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="buildings?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
