<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="building">
            <h2><span jhiTranslate="realEstateManagementServiceApp.building.detail.title">Building</span> {{ building.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.name">Name</span></dt>
                <dd>
                    <span>{{ building.name }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.purchaseDate">Purchase Date</span></dt>
                <dd>
                    <span>{{ building.purchaseDate }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.propertyNumber">Property Number</span></dt>
                <dd>
                    <span>{{ building.propertyNumber }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{ building.streetAddress }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.city">City</span></dt>
                <dd>
                    <span>{{ building.city }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.stateCode">State Code</span></dt>
                <dd>
                    <span>{{ building.stateCode }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.building.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{ building.zipCode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/building', building.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
