<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lease-heading" jhiTranslate="realEstateManagementServiceApp.lease.home.createOrEditLabel">Create or edit a Lease</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.dateSigned" for="field_dateSigned">Date Signed</label>
                    <div class="input-group">
                        <input id="field_dateSigned" type="text" class="form-control" name="dateSigned" ngbDatepicker #dateSignedDp="ngbDatepicker" formControlName="dateSigned"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateSignedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.moveInDate" for="field_moveInDate">Move In Date</label>
                    <div class="input-group">
                        <input id="field_moveInDate" type="text" class="form-control" name="moveInDate" ngbDatepicker #moveInDateDp="ngbDatepicker" formControlName="moveInDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="moveInDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.noticeOfRemovalOrMoveoutDate" for="field_noticeOfRemovalOrMoveoutDate">Notice Of Removal Or Moveout Date</label>
                    <div class="input-group">
                        <input id="field_noticeOfRemovalOrMoveoutDate" type="text" class="form-control" name="noticeOfRemovalOrMoveoutDate" ngbDatepicker #noticeOfRemovalOrMoveoutDateDp="ngbDatepicker" formControlName="noticeOfRemovalOrMoveoutDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="noticeOfRemovalOrMoveoutDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.leaseType" for="field_leaseType">Lease Type</label>
                    <input type="text" class="form-control" name="leaseType" id="field_leaseType"
                           formControlName="leaseType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.newLease" for="field_newLease">New Lease</label>
                    <select class="form-control" id="field_newLease" name="newLease" formControlName="newLeaseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="leaseOption.id" *ngFor="let leaseOption of leases; trackBy: trackById">{{ leaseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="realEstateManagementServiceApp.lease.person" for="field_people">Person</label>
                    <select class="form-control" id="field_people" multiple name="people" formControlName="people">
                        <option [ngValue]="getSelected(editForm.get('people')!.value, personOption)" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="realEstateManagementServiceApp.lease.vehicle" for="field_vehicles">Vehicle</label>
                    <select class="form-control" id="field_vehicles" multiple name="vehicles" formControlName="vehicles">
                        <option [ngValue]="getSelected(editForm.get('vehicles')!.value, vehicleOption)" *ngFor="let vehicleOption of vehicles; trackBy: trackById">{{ vehicleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="realEstateManagementServiceApp.lease.pet" for="field_pets">Pet</label>
                    <select class="form-control" id="field_pets" multiple name="pets" formControlName="pets">
                        <option [ngValue]="getSelected(editForm.get('pets')!.value, petOption)" *ngFor="let petOption of pets; trackBy: trackById">{{ petOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.lease.apartment" for="field_apartment">Apartment</label>
                    <select class="form-control" id="field_apartment" name="apartment" formControlName="apartmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="apartmentOption.id" *ngFor="let apartmentOption of apartments; trackBy: trackById">{{ apartmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
