<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="infraction">
            <h2><span jhiTranslate="realEstateManagementServiceApp.infraction.detail.title">Infraction</span> {{ infraction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="realEstateManagementServiceApp.infraction.dateOccurred">Date Occurred</span></dt>
                <dd>
                    <span>{{ infraction.dateOccurred }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.infraction.cause">Cause</span></dt>
                <dd>
                    <span>{{ infraction.cause }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.infraction.resolution">Resolution</span></dt>
                <dd>
                    <span>{{ infraction.resolution }}</span>
                </dd>
                <dt><span jhiTranslate="realEstateManagementServiceApp.infraction.lease">Lease</span></dt>
                <dd>
                    <div *ngIf="infraction.leaseId">
                        <a [routerLink]="['/lease', infraction.leaseId, 'view']">{{ infraction.leaseId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/infraction', infraction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
