<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-infraction-heading" jhiTranslate="realEstateManagementServiceApp.infraction.home.createOrEditLabel">Create or edit a Infraction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.infraction.dateOccurred" for="field_dateOccurred">Date Occurred</label>
                    <div class="input-group">
                        <input id="field_dateOccurred" type="text" class="form-control" name="dateOccurred" ngbDatepicker #dateOccurredDp="ngbDatepicker" formControlName="dateOccurred"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOccurredDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.infraction.cause" for="field_cause">Cause</label>
                    <input type="text" class="form-control" name="cause" id="field_cause"
                           formControlName="cause"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.infraction.resolution" for="field_resolution">Resolution</label>
                    <input type="text" class="form-control" name="resolution" id="field_resolution"
                           formControlName="resolution"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.infraction.lease" for="field_lease">Lease</label>
                    <select class="form-control" id="field_lease" name="lease" formControlName="leaseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="leaseOption.id" *ngFor="let leaseOption of leases; trackBy: trackById">{{ leaseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
