<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.infraction.home.title">Infractions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-infraction" [routerLink]="['/infraction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.infraction.home.createLabel">
            Create a new Infraction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="infractions?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.infraction.home.notFound">No infractions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="infractions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOccurred"><span jhiTranslate="realEstateManagementServiceApp.infraction.dateOccurred">Date Occurred</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cause"><span jhiTranslate="realEstateManagementServiceApp.infraction.cause">Cause</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resolution"><span jhiTranslate="realEstateManagementServiceApp.infraction.resolution">Resolution</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leaseId"><span jhiTranslate="realEstateManagementServiceApp.infraction.lease">Lease</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infraction of infractions ;trackBy: trackId">
                    <td><a [routerLink]="['/infraction', infraction.id, 'view']">{{ infraction.id }}</a></td>
                    <td>{{ infraction.dateOccurred | date:'mediumDate' }}</td>
                    <td>{{ infraction.cause }}</td>
                    <td>{{ infraction.resolution }}</td>
                    <td>
                        <div *ngIf="infraction.leaseId">
                            <a [routerLink]="['/lease', infraction.leaseId , 'view']" >{{ infraction.leaseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/infraction', infraction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/infraction', infraction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(infraction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="infractions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
