<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-property-tax-heading" jhiTranslate="realEstateManagementServiceApp.propertyTax.home.createOrEditLabel">Create or edit a Property Tax</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.propertyTax.taxYear" for="field_taxYear">Tax Year</label>
                    <input type="number" class="form-control" name="taxYear" id="field_taxYear"
                           formControlName="taxYear"/>
                    <div *ngIf="editForm.get('taxYear')!.invalid && (editForm.get('taxYear')!.dirty || editForm.get('taxYear')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taxYear')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('taxYear')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.propertyTax.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.propertyTax.datePaid" for="field_datePaid">Date Paid</label>
                    <div class="input-group">
                        <input id="field_datePaid" type="text" class="form-control" name="datePaid" ngbDatepicker #datePaidDp="ngbDatepicker" formControlName="datePaid"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaidDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.propertyTax.confirmationNumber" for="field_confirmationNumber">Confirmation Number</label>
                    <input type="text" class="form-control" name="confirmationNumber" id="field_confirmationNumber"
                           formControlName="confirmationNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.propertyTax.building" for="field_building">Building</label>
                    <select class="form-control" id="field_building" name="building" formControlName="buildingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="buildingOption.id" *ngFor="let buildingOption of buildings; trackBy: trackById">
                            {{ buildingOption.streetAddress }} 
                            {{ buildingOption.propertyNumber }} 
                            {{ buildingOption.city }}, 
                            {{ buildingOption.stateCode }} 
                            {{ buildingOption.zipCode }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
