<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.maintenance.home.title">Maintenances</span>

        <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-maintenance"
                [routerLink]="['/maintenance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.maintenance.home.createLabel">
            Create a new Maintenance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="maintenances?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.maintenance.home.notFound">No maintenances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="maintenances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="realEstateManagementServiceApp.maintenance.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notificationDate"><span jhiTranslate="realEstateManagementServiceApp.maintenance.notificationDate">Notification Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateComplete"><span jhiTranslate="realEstateManagementServiceApp.maintenance.dateComplete">Date Complete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contractorJobNumber"><span jhiTranslate="realEstateManagementServiceApp.maintenance.contractorJobNumber">Contractor Job Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repairCost"><span jhiTranslate="realEstateManagementServiceApp.maintenance.repairCost">Repair Cost</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repairPaidOn"><span jhiTranslate="realEstateManagementServiceApp.maintenance.repairPaidOn">Repair Paid On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="receiptOfPayment"><span jhiTranslate="realEstateManagementServiceApp.maintenance.receiptOfPayment">Receipt Of Payment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="apartmentId"><span jhiTranslate="realEstateManagementServiceApp.maintenance.apartment">Apartment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contractorId"><span jhiTranslate="realEstateManagementServiceApp.maintenance.contractor">Contractor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let maintenance of maintenances ;trackBy: trackId">
                    <td><a [routerLink]="['/maintenance', maintenance.id, 'view']">{{ maintenance.id }}</a></td>
                    <td>{{ maintenance.description }}</td>
                    <td>{{ maintenance.notificationDate | date:'mediumDate' }}</td>
                    <td>{{ maintenance.dateComplete | date:'mediumDate' }}</td>
                    <td>{{ maintenance.contractorJobNumber }}</td>
                    <td>{{ maintenance.repairCost }}</td>
                    <td>{{ maintenance.repairPaidOn | date:'mediumDate' }}</td>
                    <td>{{ maintenance.receiptOfPayment }}</td>
                    <td>
                        <div *ngIf="maintenance.apartmentId">
                            <a [routerLink]="['/apartment', maintenance.apartmentId , 'view']" >{{ maintenance.apartmentId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="maintenance.contractorId">
                            <a [routerLink]="['/contractor', maintenance.contractorId , 'view']" >{{ maintenance.contractorId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/maintenance', maintenance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit"
                                    [routerLink]="['/maintenance', maintenance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_MANAGER'"
                                    type="submit" (click)="delete(maintenance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="maintenances?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
