<form *ngIf="rent" name="payForm" (ngSubmit)="confirmPayment(rent?.id!)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="realEstateManagementServiceApp.rent.payment.title">Confirm payment</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p id="jhi-payment-rent-heading" jhiTranslate="realEstateManagementServiceApp.rent.payment.question"
            [translateValues]="{ id: rent.id }">Mark this rent as paid?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-payment-rent" type="submit" class="btn btn-success">
            <fa-icon icon="check"></fa-icon>&nbsp;<span jhiTranslate="entity.action.pay">Pay</span>
        </button>
    </div>
</form>
