<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.rent.home.title">Rents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rent" [routerLink]="['/rent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.rent.home.createLabel">
            Create a new Rent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rents?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.rent.home.notFound">No rents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="realEstateManagementServiceApp.rent.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recievedDate"><span jhiTranslate="realEstateManagementServiceApp.rent.recievedDate">Recieved Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="realEstateManagementServiceApp.rent.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leaseId"><span jhiTranslate="realEstateManagementServiceApp.rent.lease">Lease</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rent of rents ;trackBy: trackId">
                    <td><a [routerLink]="['/rent', rent.id, 'view']">{{ rent.id }}</a></td>
                    <td>{{ rent.dueDate | date:'mediumDate' }}</td>
                    <td>{{ rent.recievedDate | date:'mediumDate' }}</td>
                    <td>{{ rent.amount }}</td>
                    <td>
                        <div *ngIf="rent.leaseId">
                            <a [routerLink]="['/lease', rent.leaseId , 'view']" >{{ rent.leaseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rent', rent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rent', rent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="rents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
