<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rent-heading" jhiTranslate="realEstateManagementServiceApp.rent.home.createOrEditLabel">Create or edit a Rent</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.rent.dueDate" for="field_dueDate">Due Date</label>
                    <div class="input-group">
                        <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" formControlName="dueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.rent.receivedDate" for="field_receivedDate">Received Date</label>
                    <div class="input-group">
                        <input id="field_receivedDate" type="text" class="form-control" name="receivedDate" ngbDatepicker #receivedDateDp="ngbDatepicker" formControlName="receivedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="receivedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.rent.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="realEstateManagementServiceApp.rent.lease" for="field_lease">Lease</label>
                    <select class="form-control" id="field_lease" name="lease" formControlName="leaseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="leaseOption.id" *ngFor="let leaseOption of leases; trackBy: trackById">Signed: {{ leaseOption.dateSigned | date }}, Type:  {{ leaseOption.leaseType }} </option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
