<div>
    <h2 id="page-heading">
        <span jhiTranslate="realEstateManagementServiceApp.vehicle.home.title">Vehicles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/vehicle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="realEstateManagementServiceApp.vehicle.home.createLabel">
            Create a new Vehicle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vehicles?.length === 0">
        <span jhiTranslate="realEstateManagementServiceApp.vehicle.home.notFound">No vehicles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehicles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="make"><span jhiTranslate="realEstateManagementServiceApp.vehicle.make">Make</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="model"><span jhiTranslate="realEstateManagementServiceApp.vehicle.model">Model</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modelYear"><span jhiTranslate="realEstateManagementServiceApp.vehicle.modelYear">Model Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="licensePlateNumber"><span jhiTranslate="realEstateManagementServiceApp.vehicle.licensePlateNumber">License Plate Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="licensePlateState"><span jhiTranslate="realEstateManagementServiceApp.vehicle.licensePlateState">License Plate State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reservedParkingStallNumber"><span jhiTranslate="realEstateManagementServiceApp.vehicle.reservedParkingStallNumber">Reserved Parking Stall Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                    <td><a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a></td>
                    <td>{{ vehicle.make }}</td>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.modelYear }}</td>
                    <td>{{ vehicle.licensePlateNumber }}</td>
                    <td>{{ vehicle.licensePlateState }}</td>
                    <td>{{ vehicle.reservedParkingStallNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vehicle', vehicle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vehicle', vehicle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vehicle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vehicles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
